body {
	background-image: url("../images/bk.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #272729;
	padding-top: 8%;
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4 {
	text-align: center;
}

h1 {
	font-size: 250%;
	color: #FAF6F6;
}

h2 {
	font-size: 150%;
	color: #FAF6F6;
}

.main-title {
	letter-spacing: 2pt;
}

.text-xs {
	font-size: 60%;
}

.bold {
	font-weight: 600;
}

.light {
	font-weight: 100;
}

.square {
	border-color: #FAF6F6;
	border-style: solid;
	border-width: 2pt;
	border-radius: 4pt;
}

.form,
#result {
	text-align: center;
	color: #FAF6F6;
}

.form {
	margin-top: 2%;
}

#result {
	margin-top: 1%;
}

.btn-danger {
	position: relative;
	margin-top: -3%;
	font-weight: 500;
	border-radius: 1pt;
	color: #FAF6F6;
}

.top-space-sm {
	margin-top: 1%;
}

.top-space-md {
	margin-top: 7%;
}

.content-col {
	padding: 0pt;
}

.input,
.select {
	border-radius: 0pt;
	color: #FAF6F6;
	border-color: #FAF6F6;
}

.input {
	border-radius: 1pt;
	background-color: transparent;
	color: #FAF6F6;
	border-color: #FAF6F6;
}

.select {
	border-radius: 1pt;
	color: #FAF6F6;
	background-image: url("../images/bk.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #272729;
	border-color: #FAF6F6;
}

.select:focus,
.select:active,
.input:focus,
.input:active {
	border-color: white;
}

.reduced-bottom {
	margin-bottom: 3pt;
}

.inline-label {
	text-align: left;
}

.invisible {
	display: none;
}

.visible {
	display: block;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-name: show-up;
}

@keyframes show-up {
	from {
		color: transparent;
		text-shadow: none;
	}
	to {
		text-shadow: none;
		color: #FAF6F6;
	}
	35% {
		color: #FAF6F6;
		text-shadow: none;
	}
	70% {
		color: #FAF6F6;
		text-shadow: 0pt 0pt 5pt white;
	}
}