body {
	background-color: #333;
	padding: 8%;
	color: white;
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4 {
	text-align: center;
}

h1 {
	font-size: 250%;
	color: white;
}

h2 {
	font-size: 150%;
	color: #EEE7E7;
}

.bold {
	font-weight: 700;
}

.light {
	font-weight: 300;
}

.square {
	border-color: white;
	border-style: solid;
	margin-bottom: 3%;
	border-width: 2pt;
	padding: 0pt;
	width: 30%;
	margin: 0 auto;
}

.form {
	margin-top: 2%;
	text-align: center;
	color: #EEE7E7;
}

.btn-danger {
	position: relative;
	margin-top: -3%;
	font-weight: 700;
	border-radius: 0pt;
}

.select {
	border-radius: 0pt;
	color: #EEE7E7;
	background-color: #333;
	border-color: #EEE7E7;
}

.select:focus,
.select:active {
	border-color: white;
}

.option {
	border-color: #EEE7E7;
}

.option:hover {
	background-color: #EEE7E7;
}