<!DOCTYPE html>
<html ng-app="myApp">

	<head>
		<meta charset="utf-8">
		<title>Generador de números de TC</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="images/favicon.png" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/my-styles.min.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
	</head>

	<body ng-controller="controller">

		<div class="container">

			<div class="col-md-12">
				<div class="col-md-4"></div>

				<div class="square col-md-4">
					<h1 class="light">
						<span class="main-title">Generador</span>
						<span class="text-xs">de</span><span class="bold">TC</span>
					</h1>
				</div>

				<div class="col-md-4"></div>

			</div>

			<div class="col-md-12 top-space-sm">
				<h2 class="main-font light">generador de números de tarjeta de crédito</h2>
			</div>	

			<form class="col-md-12 top-space-sm">

				<div class="col-md-4"></div>

				<div class="col-md-4 content-col">

					<div class="form-group form">
						<label class="light" for="tcs">seleccione un tipo de tarjeta</label>

						<select id="cardTypeSelect" ng-model="codeCardTypeSelected" class="form-control select">
							<option ng-repeat="cardType in cardTypes" value="{{cardType.CodeCardType}}">
								{{cardType.CardTypeDescription}}
							</option>
						</select>

					</div>

					<div class="form-group form top-space-md">

						<button ng-click="generateCardNumber()" class="form-control btn btn-danger">
							Generar
						</button>

					</div>

				</div>
			
				<div class="col-md-4"></div>

			</form>

			<div class="col-md-12">
				<div id="result" class="form-group form">
					<label class="light col-md-12 col-xs-12 col-lg-12 col-sm-12">{{cardNumberDescription}}</label>
					<label id="cardNumber" class="light col-md-12 col-xs-12 col-lg-12 col-sm-12">{{cardNumber}}</label>
				</div>
			</div>

			<script src="js/angular.min.js"></script>
			<script src="js/module.min.js"></script>
			<script src="js/service.min.js"></script>
			<script src="js/controller.min.js"></script>

		</div>

	</body>


</html>